*{
	margin: 0;
	padding: 0;
}
@font-face{
    font-family: Montserrat-Light;
    src: url(../fonts/Montserrat-Light.ttf);
}
@font-face{
    font-family: Montserrat-Bold;
    src: url(../fonts/Montserrat-Bold.otf);
}
@font-face{
    font-family: SourceSansPro-Light;
    src: url(../fonts/SourceSansPro-Light.ttf);
}
@font-face{
    font-family: SourceSansPro-Regular;
    src: url(../fonts/SourceSansPro-Regular.ttf);
}
body{
	padding: 0px;
	margin: 0px;
}
.content{
	width: 1170px;
	margin: auto;
}
.header{
	background-color: #2c2e3d;
	text-align: center;
	padding-top: 24px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color: white;
}
.box-first{
	background-color: #2c2e3d;
	width: 100%;
}
.category ul{
	margin-top: 8px; 
}
.category ul li{
	display: inline-block;
	padding: 0 20px;
}
.category ul li a{
	color: #99a9b5;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	font-family: Myriad Pro;
}
.category ul li a:hover{
	color: #00bcd4;
}
.category ul li a:focus{
	color: white;
	border: 2px solid white;
	padding: 8px 16px;
	margin: 0 -16px;
}
.logo{
	margin-top: -7px;
	margin-right: 100px;
}
.item{
	margin-top: 5px;
}
.item ul li{
	display: inline-block;
	margin: 0 11px;
}
.item ul li:nth-child(3){
	position: relative;
}
.item ul li:nth-child(3) a{
	padding-right: 5px;
}
.item ul li:nth-child(3) span{
	color: white;
	background: url('../images/cart_number.png') no-repeat;
	width: 32px;
	height: 17px;
	padding-left: 2px;
	margin-top: 5px;
	position: absolute;
	top: -3px;
    left: 120%;

}
.slide{
	height: 896px;
	color: white;
	text-align: center;
}
.content_slide{
	text-align: center;
	width: 1067px;
	padding-top: 170px;
	margin: auto;
}
.content_slide p{
	font-family: SourceSansPro-Light;
}
.content_slide span{
	font-family: 'Montserrat-Bold';
}
.content_slide #name{
	font-family: Montserrat-Light;
	font-size: 70px;
	padding: 113px 0px 85px;
}
.content_slide p:nth-child(3){
	font-size: 24px;
	
}
.but{
	margin-top: 50px;
	display: flex;
	justify-content: center;
}
.button-pur{
	border: 3px solid white;
	border-radius: 30px;
	padding: 15px;
	margin-right: 35px;
	margin: 0 10px;
	font-family: 'Montserrat-Bold';
	font-size: 19px;
}
.button-pur:hover{
	border-color: #4ec3c9;
	color: #4ec3c9;
}
.button-more{
	border: 3px solid white;
	border-radius: 30px;
	padding: 15px;
	margin: 0 10px;
	font-family: 'Montserrat-Bold';
	font-size: 19px;
}
.button-more:hover{
	border-color: #4ec3c9;
	color: #4ec3c9;
}
.box-second{
	background-color: white;
	margin-top: 142px;
}
/*box 1*/
.description {
	text-align: center;
}
.description p:nth-child(2){
	font-family: SourceSansPro-Light;
	font-size: 14px;
	padding-top: 81px;
}
#box1{
	font-size: 50px;
	font-family: 'Montserrat-Light';
}
#box1 span{
	font-family: 'Montserrat-Bold';
}
#box1 +p{
	font-family: 'Montserrat-Light';
	text-align: left;
	font-size: 16px;
}

/*box 2*/
.box{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 160px;
}
.container{
	width: 292px;
	background-color: #f0f3f2;
	position: relative;
}

.new{
	position: absolute;
	top: -25px;
	left: 38px;
}
.begin{
	height: 91px;
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	color: #5f727f;
	border-style: solid;
	border-color: #dfe5e8;
	display: flex;
    justify-content: center;
    align-items: center;
}
.bor1{
	border-width: 1px 0.5px 0px 1px;
}
.bor-mid{
	border-width: 1px 0.5px 0px 0.5px;	
}
.bor2{
	border-width: 1px 1px 0px 0.5px;
}
.container:hover {
	background-color: white;
	padding: 23px 0;
	margin: -23px 0;
}
.container:hover .begin {
	/*padding: 23px 0;*/
	height: 114px;
	margin-top: -23px;
}
.tour{
	height: 150px;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: none;
}
.tour1{
	background-color: #b0de79;
}
.tour2{
	background-color: #7ee0bf;
}
.tour3{
	background-color: #83bce9;
}
.tour4{
	background-color: #a289e8;
}
.price{
	font-size: 65px;
	margin: 0px;
	font-family: 'Montserrat', sans-serif;
}
.mid{
	font-family: Myriad Pro;
	font-size: 16px;
	border-style: solid;
	border-color: #dfe5e8;
}
.mid1{
	border-width: 0px 0.5px 0px 1px;
}
.mid23{
	border-width: 0px 0.5px 0px 0.5px;
}
.mid4{
	border-width: 0px 1px 0px 0.5px;
}
.sub{
	height: 78px;
}
.sub p{
	text-align: center;
}
.sub p:first-child{
	font-family: SourceSansPro-Light;
	font-size: 25px;
	padding-top: 12px;
}	
.sub p:nth-child(2){
	font-family: SourceSansPro-Light;
	font-size: 14px;
	padding-top: 5px;
	color:  #99a9b5;
}
.sub ~p{
	border-top: 1px solid #dfe5e8;
	line-height: 46px;
	text-align: center;
}
.drop{
	color: #5f727f;
	border-top: 1px solid #dfe5e8;
	padding: 16px 0px; 
}
.crush{
	color: #99a9b5;
	text-decoration: line-through;
	border-top: 1px solid #dfe5e8;
	padding: 16px 0px; 
}
.fotter{
	height: 117px;
	border-style: solid;
	border-color: #dfe5e8;
}
.fot1{
	border-width: 0px 0.5px 1px 1px;
}
.fot23{
	border-width: 0px 0.5px 1px 0.5px;
}
.fot4{
	border-width: 0px 1px 1px 0.5px;
}
.container:hover .fotter{
	padding: 23px 0;
	margin: -23px 0;
}
.button{
	text-align: center;
	padding: 30px 0 50px 0;
}
.oder{
	width: 118px;
	height: 40px;
	background-color: #393d50;
	border: none;
	border-radius: 35px;
	font-weight: bold;
	font-family:'Montserrat', sans-serif;
	font-size: 16px;
	color: #fff;
}
.container:hover .oder{
	background-color: #83bce9;
}
.fas{
	padding-right: 7px;
}
.box-third{
	background-color: #1b1b2b;
	height: 500px;
	color: white;
	margin-top:50px; 
}
.mid ul li {
	text-align: center;
}
